*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./Desert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     height: 100vh;
}
h1{
    margin-top: 45px;
    margin-left: 25px;
}
p{
    margin-top: 25px;
    margin-left: 25px;
    font-size: 25px;
}